body {
  color:#A4DED7;
  font-family:"Arvo", Helvetica, sans-serif;
  background:#292928;
}

.reveal .controls { display:none !important; }

div.center-vertically {
  position:absolute;
  top:35%;
}

.reveal h1 {
  font-size:54px;
  line-height:130px;
  font-weight:900;
  text-align:center;
}

.reveal h1 span { color:#E89383; }

.reveal h2 {
  font-weight:300;
  font-size: 1.9em;
  text-align: center;
  line-height: 1.8;
}

.reveal h3 {
  margin:20px 0 -30px 45px;
  text-align:center;
  line-height: 1.5;
}

.reveal pre {
  font-size:18px;
  margin:50px auto;
}

.reveal pre code {
  background:#fff;
  color:#000;
}

.reveal li {
  font-size: 24px;
  line-height: 1.2;
}

.reveal ol, .reveal li {
  margin-top: 20px;
}

.reveal a, .reveal a:active, .reveal a:visited {
  color: #E89383;
}
