<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>ActiveAdmin</title>

    <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
    <meta name="author" content="Hakim El Hattab">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/theme/activeadmin.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/github.css">

    <script>
      // If the query includes 'print-pdf' we'll use the PDF print sheet
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Used to fade in a background when a specific slide state is reached -->
      <div class="state-background"></div>

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <div class="center-vertically">
            <h1>Active<span>Admin</span></h1>
            <h2>An administration framework for Ruby on Rails</h2>
          </div>
        </section>
        <section>
          <section data-markdown>
            <h1>The <span>Problem</span></h1>
            <pre><code class="ruby">
            class PostsController < ApplicationController
              def update
                @post = Post.find(params[:id])
                @post.update_attributes(params[:post])
              end
            end

            class PagesController < ApplicationController
              def update
                @page = Page.find(params[:id])
                @page.update_attributes(params[:page])
              end
            end
            </pre></code>
          </section>
          <section data-markdown>
            <h1>The <span>Problem</span></h1>
            <pre><code class="ruby">
              <%= form_for(@post) do |f| %>
                <%= f.text_field :title %>
                <%= f.text_area :body %>

                <%= f.submit %>
              <% end %>

              <%= form_for(@page) do |f| %>
                <%= f.label :title %>
                <%= f.text_field :title %>
                <%= f.label :body %>
                <%= f.text_area :body %>

                <%= f.submit %>
              <% end %>
            </pre></code>
          </section>
        </section>
        <section data-markdown>
          <h1>The <span>Solution</span></h1>
          <pre><code class="ruby">
          ActiveAdmin.register Post do
          end

          ActiveAdmin.register Page do
          end
          </code></pre>
        </section>
        <section>
          <h1>It's <span>Pretty</span></h1>
          <img src="http://f.cl.ly/items/2s2Y3r0k35062H1n3V0r/activeadmin.png" alt="ActiveAdmin">
        </section>
        <section data-markdown>
          <h1>Get <span>Started</span></h1>
          <h3>Add to Gemfile</h3>
          <pre><code class="ruby">
          gem 'activeadmin'
          </code></pre>

          <h3>Run in CLI</h3>
          <pre><code class="bash">
          rails generate active_admin:install
          rails generate active_admin:resource [resource]
          </code></pre>
        </section>
        <section>
          <section>
            <h1><span>D</span>omain <span>S</span>pecific <span>L</span>anguage</h1>
          </section>
          <section data-markdown>
            <h1>Index <span>Views</span></h1>
            <pre><code class="ruby">
            index do
              column :title
              column :author
              default_actions
            end

            index do
              column :title
              if can? :manage, Post
                column :some_secret_data
              end
            end
            </code></pre>
          </section>
          <section data-markdown>
            <h1>Show <span>Views</span></h1>
            <pre><code class="ruby">
            show do
              h3 post.title
              div do
                markdown post.body
              end

              panel "Comments" do
                table_for(workshop.comments) do
                  column :name
                  column :email
                end
              end
            end
            </code></pre>
          </section>
          <section data-markdown>
            <h1>Form <span>Definitions</span></h1>
            <pre><code class="ruby">
            form do |f|
              f.inputs "Post Details" do
                f.input :title
                f.input :author, :as => :select, :collection => ["Tristan O'Neil"]
                f.input :created_at, :ampm =&gt; true
                f.input :body
              end

              f.buttons
            end
            </code></pre>
          </section>
          <section data-markdown>
            <h1>Controller <span>Definitions</span></h1>
            <pre><code class="ruby">
            controller do
              def update
                # override default update action behavior.
              end
            end
            </code></pre>
          </section>
        </section>
        <section>
          <h1>Demo <span>Time</span></h1>
        </section>
      </div>

      <!-- The navigational controls UI -->
      <aside class="controls">
        <a class="left" href="#">&#x25C4;</a>
        <a class="right" href="#">&#x25BA;</a>
        <a class="up" href="#">&#x25B2;</a>
        <a class="down" href="#">&#x25BC;</a>
      </aside>

      <!-- Presentation progress bar -->
      <div class="progress"><span></span></div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,

        theme: Reveal.getQueryHash().theme || 'activeadmin', // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'activeadmin', // default/cube/page/concave/linear(2d)

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/highlight.js', async: true, callback: function() { window.hljs.initHighlightingOnLoad(); } },
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'lib/js/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'lib/js/data-markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: '/socket.io/socket.io.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
          { src: 'plugin/speakernotes/client.js', async: true, condition: function() { return window.location.host === 'localhost:1947'; } },
        ]
      });

    </script>

  </body>
</html>
